*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  color: white;
}

:root {
  --max-size: 6rem;
  --big-size: 2rem;
  --medium-size: 1.5rem;
  --normal-size: 1.25rem;
  --small-size: 1rem;
  --bold-font: 700;
  --button-size: 50rem;
}

@media screen and (min-width: 992px) {
  :root {
    --big-size: 2.5rem;
    --medium-size: 2rem;
    --normal-size: 1.25rem;
    --small-size: 1rem;
  }
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  filter: drop-shadow(0 0 20px #db3eb1) contrast(3) brightness(3);
}

h1 {
  font-size: 15rem;
  margin-bottom: 5%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 5px solid #e975ab;
  border-radius: 50px;
}

.bg {
  position: absolute;
  width: 100vw;
  background: radial-gradient(#a6037a, #a6037a, #f25d27, #f20574);
  background-size: 400% 300%;
  animation: BgGradient 7s linear infinite;
  display: flex;
  justify-content: end;
  align-items: center;
}

.card-presentation {
  position: relative;
  font-size: var(--max-size);
  text-align: end;
  margin: 10% 5%;
  padding: 15% 0;
  z-index: 1;
  text-shadow: #00000057 1px 0 50px;
}

.element {
  width: 40rem;
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 0;
}

@keyframes BgGradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 10%;
  }
}

.navBar {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4rem;
  width: 100%;
  height: 15%;
  background: linear-gradient(rgba(0, 0, 255, 0.8), rgba(0, 0, 0, 0));
  display: flex;
  gap: 3%;
  justify-content: end;
  padding: 5rem;
}

.button-link,
.button-git {
  padding: 1.5rem;
  margin: 5% 5% 0 0;
  font-size: var(--max-size);
  width: var(--button-size);
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
  letter-spacing: 5px;
}
.button-link:hover,
.button-git:hover {
  filter: drop-shadow(0 0 20px #db3eb1) drop-shadow(0 0 10px #db3eb1)
    contrast(1) brightness(2);
  background-color: #a6037a;
}

/* Responsive */
@media (min-width: 1024px) {
  .section--title,
  .container {
    margin: 0 auto;
  }
}


@media screen and (max-width: 767px) { 
  h1 {
    font-size: var(--max-size);
    text-align: center;
    margin-top: 20%;
  }
  
  .card-presentation {
    font-size: var(--medium-size);
    text-align: center;
    width: 80%;
    position: relative;
    top: 50%;
    left: 7%;
  }

  .bg {
    width: 100vw;
    height: auto;
  }

  .navBar {
    font-size: var(--medium-size);
    gap: 0 10%;
    justify-content: center;
  }

  .element {
    position: absolute;
    width: 15rem;
    top: 15%;
    left: 10%;
    transform: rotate(15deg);
  }

  .button-link,
  .button-git {
    width: 10rem;
    font-size: var(--small-size);
    height: 3.5rem;
    text-align: center;
    padding: 0.25rem 0.5rem;
    margin-top: 5rem;
  }

  
  /*  .bg {
  p:nth-child(1) {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
  }

  p:nth-child(2) {
    font-weight: 100;
    font-size: var(--medium-size);
    margin-top: 2rem;
  } */
}
