* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --small-size: 1rem;
  --medium-size: 1.5rem;
  --big-size: 2rem;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: grey;
}

.bg {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2.5rem;
  background: radial-gradient(#a6037a, #a6037a, #f25d27, #f20574);
  background-size: 400% 300%;
  animation: BgGradient 7s linear infinite;
}

.card-presentation {
  text-align: center;
  margin: 20rem 5rem;
  width: 70rem;
  height: 10rem;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 6rem;
  z-index: 3;
}

p:nth-child(1) {
  font-weight: 100;
  margin-top: 1.5rem;
  font-size: 1.75rem;
}

.element {
  width: 40rem;
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 1;
}

@keyframes BgGradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 10%;
  }
}

.navBar {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.7rem;
  width: 100%;
  height: 15%;
  background: linear-gradient(rgba(0, 0, 255, 0.8), rgba(0, 0, 0, 0));
  display: flex;
  gap: 1.5rem;
  justify-content: end;
  padding: 2rem;
  z-index: 0;
}

button {
  border: 2px solid #e975ab;
  background-color: transparent;
  padding: 1rem;
  margin: 1rem;
  border-radius: 50px;
  width: 15rem;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0px 0px 0px 4px rgba(242, 5, 116, 0.3);
}

@media screen and (max-width: 767px) {
  .bg {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .navBar {
    font-size: var(--small-size);
    gap: var(--small-size);
    justify-content: center;
  }

  .card-presentation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 450px;
  }

  .element {
    width: 10rem;
    position: absolute;
    top: 7%;
  }

  button {
    width: 10rem;
    font-size: var(--medium-size);
    height: 3.5rem;
    text-align: center;
    padding: 0.25rem 0.5rem;
  }

  p {
    margin: 3rem;
  }

  p:nth-child(3) {
    font-weight: 100;
    font-size: var(--medium-size);
  }
}
